{% extends 'base.html' %}
{% block title %}Choose Topic{% endblock %}
{% block content %}

    <div class="container center_div">
        <div class="col-md-12 centered" style=" padding-bottom : 40px">
            <div class="form-area">

                <form action="{% url 'create-post-view' %}" method="post">
                    {% csrf_token %}
                    <div class="container center_div pl-3">
                        <h3 style="margin-bottom: 15px; margin-top: 10px;text-align: center;">Enter Topic Details</h3>
                        <label for="text"><strong>Topic Title:</strong></label>
                        <div class="col-md-12">
                            <input type="text" class="form-control" id="post_title" name="post_title" placeholder="Title" value="" required>
                        </div>
                        <label for="text"><strong>Topic details:</strong></label>
                        <div class="col-md-12" style="padding-bottom: 10px">
                            <textarea class="form-control" name="post_detail" id="post_detail" rows="6" placeholder="Details" required></textarea>
                        </div>



                        <input type="submit" name="submit" class="btn btn-outline-dark" style="width:120px; padding-left:10px;padding-bottom:5px;margin-left:400px;" role="button" aria-pressed="true" value="Submit"/>
                        <a href="{% url 'home' %}" class="btn btn-outline-dark" style="width:120px; padding-left:10px;padding-bottom:5px;">Cancel</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}